In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df = pd.read_csv("main_data_PRH_2017-2021.csv")

In [27]:
df

,ACCIDENT_ISSUE_CODE,HOSPITAL_BILLING_INVOICE_ID,BUSINESS_GROUP_CODE,ACCIDENT_CAUSE,ACCIDENT_INJURY,ACCIDENT_ORGAN_SUB_GROUP,SEVERITY_CODE,HOSPITAL_WCF_CODE,LENGTH_OF_STAY,SEX,...,220000,230100,230200,230300,230400,240000,250000,260000,PRH,INFORM_DATE
0,10076300195,6475098,0.0,4,3,561,12.0,10050,1.0,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-20
1,10076300195,6475104,0.0,4,3,561,12.0,10050,2.0,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-20
2,10076300195,6475093,0.0,4,3,561,12.0,10050,1.0,F,...,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-20
3,21016101160,6299337,911.0,7,6,562,11.0,21104,0.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-10-04
4,10096300273,6475094,405.0,5,8,562,11.0,10107,1.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-02-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640949,11016402168,6725928,402.0,7,6,552,11.0,11014,3.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-11-12
640950,12006401473,6725930,1301.0,14,9,632,11.0,100157,1.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-12-27
640951,10066400305,6725931,1604.0,6,1,562,NaN,90101,2.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-03-18
640952,20016401238,6671620,203.0,11,6,632,11.0,20112,15.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-06-25
640953,10126400969,6721517,803.0,21,3,310,11.0,74002,0.0,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021-09-24

In [28]:
df.BUSINESS_GROUP_CODE.value_counts()

0.0       65311
1301.0    48414
203.0     40370
1501.0    34054
1616.0    33729
          ...
1006.0        5
301.0         3
4321.0        2
1450.0        2
313.0         1
Name: BUSINESS_GROUP_CODE, Length: 136, dtype: int64

In [29]:
df.ACCIDENT_CAUSE.value_counts()

7     158697
4     109274
5      86016
6      63402
8      56487
1      47980
2      35590
11     21738
14     16156
20      8144
21      7856
13      6414
16      6264
9       4818
18      3667
12      3180
10      2381
88      1859
19       649
3        319
17        43
22        14
15         4
23         2
Name: ACCIDENT_CAUSE, dtype: int64

In [30]:
df.ACCIDENT_INJURY.value_counts()

6     273363
1     119020
3      88687
7      50099
9      39731
8      22328
5      17274
15      5624
4       5493
99      4732
10      3924
2       3520
13      3108
11      2431
14      1562
12        58
Name: ACCIDENT_INJURY, dtype: int64

In [31]:
df.ACCIDENT_ORGAN_SUB_GROUP.value_counts()

562    88026
561    84173
700    57940
121    30190
122    29429
552    23629
541    20585
542    20286
651    19576
632    18878
631    18825
110    18703
551    18631
652    18498
521    16512
522    15848
661    15673
662    14507
160    13685
310    13133
532     9787
531     9591
642     8784
641     8749
123     8502
410     4162
511     4024
420     3627
620     3171
512     3060
150     2681
633     2219
130     2038
543     2021
430     1767
210     1659
653     1517
910     1187
523     1170
563      928
610      760
142      534
920      486
141      453
440      311
643      293
533      268
513      146
663      144
553      123
143       65
Name: ACCIDENT_ORGAN_SUB_GROUP, dtype: int64

In [32]:
df.SEVERITY_CODE.value_counts()

11.0    361869
12.0    171629
15.0       738
13.0       135
14.0        63
Name: SEVERITY_CODE, dtype: int64

In [33]:
df.HOSPITAL_WCF_CODE.value_counts()

11020     17303
74002     13423
20112     12732
74101     11340
100117    11194
          ...
41119         1
12109         1
24110         1
10055         1
57112         1
Name: HOSPITAL_WCF_CODE, Length: 1135, dtype: int64

In [34]:
df.SEX.value_counts()

M    493828
F    147126
Name: SEX, dtype: int64

In [35]:
df.PRH.value_counts()

1    610369
0     30585
Name: PRH, dtype: int64

In [36]:
df = pd.get_dummies(df,columns=["SEX"])

In [37]:
df = df.fillna(0)

In [38]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [39]:
X = df.drop(columns=["PRH", "INFORM_DATE"])
y = df.PRH

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [41]:
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=None)
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
y_score = clf.score(X,y)

In [43]:
print(clf.score(X_train,y_train))

1.0

In [44]:
print(clf.score(X_test,y_test))

0.971781763717776

In [45]:
from sklearn.metrics import classification_report,confusion_matrix

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.70      0.71      0.71      9162
           1       0.99      0.98      0.99    183125

    accuracy                           0.97    192287
   macro avg       0.84      0.85      0.85    192287
weighted avg       0.97      0.97      0.97    192287

In [49]:
clf.get_depth()

39

In [51]:
clf.get_n_leaves()

9420

In [50]:
clf.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'entropy',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}